body{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}
.jumbotron h1{
    /* position: absolute; */
    top: 100px;
    color: white;
    font-size: 5rem;
    text-shadow: 0px 0px 10px black;
}
.jumbotron{
    display:flex;
    justify-content: center;
    align-items: center;
   padding: 0;
   background-image: url('../images/food.jpg');
   height: 350px;
   background-size:cover;
   background-position-y: center;
}
section{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
section h1{
    float: left;
    font-size: 3rem;
}
.main-container{
    margin-top: 50px;
    border: 2px lightgray solid;
    border-radius: 10px;
    padding:10px;
}
#get-recipes, #clear-btn{
    margin-top: 10px;
}
#pantry-container{
    background-color: lightgoldenrodyellow;
    /* padding: 5px; */
}
.pantry-item{
    display:flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding:5px;
}
#user-input, #add-btn{
    margin-bottom: 10px;
}
#list-container{
    border: 1px solid black;
}
.recipe-card{
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 10px;
    padding:10px;
    text-align: center;
}
#recipe-filters{
    float: right;
}
.recipe-card img{
    border-radius: 5px;
    border: 1px solid black;
    display:block;
    margin: auto;
}
#save-btn{
    margin-top: 10px;
    display: block;
    margin: auto;
    border-radius: 5px;
    width: 100%;
}
p{
    
}
