
  

body {
    text-align: center;
}
#homepara1 {
    color: purple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#homelist {
    list-style: none;
}
#homelistA, #homelistB {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: larger;
}
#title0 {
    color: green;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
#title1{
    font-family:cursive;
}
#title2 {
    color: orange;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
#home {
    border: thick purple solid;
    margin-top: 40%;
}
#mealplanlist {
    list-style: none;
}